<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detector.css') }}?v=1">
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.11.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.11.1/core.js"></script>
</head>
<body>
    <div class="container">
        <canvas id="canvas" class="canvas"></canvas>
        <div class="overlay">
            <div class="video-grid">
                <h1 class="title">Object Detection App</h1>
                <img width="640" height="480" id="webcam" class="webcamDisplay" style="border: none;">
                <div class="buttonGrid">
                    <button id="toggleBtn" class="startBtn">Start webcam</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/detector.js') }}"></script>
</body>
</html>
